@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";
@import "./var.css";

html, body{
    overflow-x: hidden !important;
    overflow-y:scroll !important;
}
.about{
    /*overflow-y: scroll;*/
    margin-top: 15vh;
    padding-right: 10vh;
}
.gec-arch{
    margin-top: 5vh;
    height: 40vh;
}

.about-title{
    color: var(--dyuthi-color);
}

@media only screen and (max-width: 1280px){
    .about{
        margin-top: 5vh !important;
        padding: 5vh !important;
    }
    .gec-arch{
        display: block;
        margin: 1vh auto !important;
        height: 10vh !important;
    }
    .about-title{
        color: var(--dyuthi-color);
        margin: 2vh 0 5vh;
    }
}