@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";
@import "./var.css";

.contact{
    margin-top: 15vh;
    padding-left: 10vh;
}
.gec-arch{
    margin-top: 5vh;
    height: 40vh;
}

.contact-title{
    color: var(--dyuthi-color);
}

.contact-card{
    padding: 4vh 1vh ;
}

.contact-email{
    color: var(--color-text-light);
    font-size: 3vh;
    letter-spacing: 2px;
}

.contact-email > a{
    text-decoration: none;
    color: inherit;
}

.contact-name{
    color: var(--color-text-light);
    font-size: 3vh;
}

.contact-designation{
    color: var(--color-shadow-light);
    font-size: 2vh;
    display: block;
}

.contact-number{
    color: var(--color-shadow-light);
    font-size: 2.8vh;
    letter-spacing: 1.5px;
}
.non-dyuthi{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact-footer{
    padding: 0 10vh;
}