@import './var.css';

.events{
    margin: 1vh 10vh;
}

.event-row{
    margin: 10vh 0;
}
.gen-events{

}

.event-item{
    padding: 2vh;
    display:block;
    content: '';
    /* background-color: violet; */
}

.event-poster{
    width: 15em; 
    height: 10em;
    margin-bottom: 5vh;
    transition: transform 0.5s;
}

.event-border{
    border: 2px dashed var(--color-shadow-light);
    height: 10em;
    width: 15em;
    position: absolute;
    top: 0vh;
    left: 1vw;
    z-index: -1;
    /* transform: scaleX(0) scaleY(0);   */
    transition: transform 250ms ease-in-out;
    transform-origin:  0% 0%;
}

.event-title{
    width: fit-content;
    float: right;
    font-size: 3vh;
    font-weight: bolder;
    position: absolute;
    right: 5em;
    bottom: 3em;
    background-color: var(--color-text-light);
    color: var(--color-text-dark);
    padding: 5px 10px;
    transform: scale(0);  
    transition: transform 250ms ease-in-out;
}

.event-item:hover{
    cursor: pointer;
}
.event-item:hover .event-poster{
    transform: scale(1.3);
}
.event-item:hover .event-title{
    transform: scale(1.3);
} 
.event-item:hover .event-border{
    transform: scaleX(1.1) scaleY(1.1);
} 

@media only screen and (max-width: 1280px){
    html, body{
        overflow-x:hidden !important;
        overflow-y:scroll !important;
    }
}