@import './var.css';

.events{
    margin: 5vh 10vh;
}

.event-row{
    margin: 10vh 0;
}
.gen-events{

}

.event-item{
    padding: 2vh;
    display:block;
    content: '';
    /* background-color: violet; */
}

.event-poster{
    width: 15em; 
    height: 10em;
    margin-bottom: 5vh;
    transition: transform 0.5s;
}

.event-border{
    border: 2px dashed var(--color-shadow-light);
    height: 10em;
    width: 15em;
    position: absolute;
    top: 0vh;
    left: 1vw;
    z-index: -1;
    /* transform: scaleX(0) scaleY(0);   */
    transition: transform 250ms ease-in-out;
    transform-origin:  0% 0%;
}

.event-title{
    /* width: fit-content; */
    width: 10vw !important;
    float: right;
    font-size: 2.5vh;
    font-weight: bolder;
    position: absolute;
    right: 2em;
    bottom: 3em;
    background-color: var(--color-text-light);
    color: var(--color-text-dark);
    padding: 5px 10px;
    transform: scale(0);  
    transition: transform 250ms ease-in-out;
}

.event-item:hover{
    cursor: pointer;
}
.event-item:hover .event-poster{
    transform: scale(1.3);
}
.event-item:hover .event-title{
    transform: scale(1.1);
} 
.event-item:hover .event-border{
    transform: scaleX(1.1) scaleY(1.1);
} 

.events-sec{
    /* display: block;
    width: fit-content; */
    margin: 1vh 12vw 10vh;
}
.dept-title{
    font-size: 4vh;
    margin: 4vh 8vw 5vh;
}

@media only screen and (max-width: 1280px){
    html, body{
        overflow-x:hidden !important;
        overflow-y:scroll !important;
    }
    .event-title{
        width: 32vw !important;
        word-wrap: break-word;
        hyphens: auto;
        float: right;
        font-size: 2vh;
        font-weight: bolder;
        position: absolute;
        left:50vw;
        bottom: 5em;
        background-color: var(--color-text-light);
        color: var(--color-text-dark);
        padding: 5px 10px;
        /* transform: scale(1.1) !important;   */
        transform: none;
        transition: transform 250ms ease-in-out;
    }
    .event-item:hover .event-title{
        transform: scale(1.1) translateX(-1em);
    }
    .gen-events{
        display: block;
        width: fit-content;
        margin: 1vh 12vw 10vh;
    } 
    .events-sec{
        /* display: block;
        width: fit-content; */
        margin: 1vh 12vw 10vh;
    }
    .dept-events{
        margin-top: 10vh;
    }
    .dept-title{
        font-size: 4vh;
        margin: 4vh 8vw 2vh;
    }
}