.EventCard {
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    border-radius: 15px;
}

.EventCard img{
    max-width: 100%;
}

.EventCard .text {
    padding: 20px 20px 20px;
    text-align: center;
}

.EventCard .text > button {
    background: #A90C35;
    border: 1px solid #A90C35;
    color: white;
    padding: 10px;
    width: 100%;
}

.EventCard .text > button:hover {
    background: white;
    color: #A90C35;
}

.clicked {
    background: white !important;
    color: #A90C35 !important;
}