@import "./var.css";

.backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 20vh 30vw;
    z-index: 99;
}
.modal-style{
    background-color: #fff;
    padding: 5vh 8vh;
    max-width: 60vw;
    min-height: 40vh;
    border-radius: 10px;
}
.footer > a{
    
}
.footer > a:hover{
    padding-bottom: 5px;
    border-bottom: 2px dashed var(--color-text-light);
}

.closeBtn{
    position: absolute;
    top: 0;
    right: 100%;
    background-color: var(--color-disabled-light);
}
.fade-in{
    animation: fadeIn .5s alternate;
    animation-fill-mode: forwards;
}
.fade-out{
    animation: fadeOut .5s alternate;
    animation-fill-mode: forwards;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media only screen and (max-width: 1280px){
    .backdrop{
        padding: 20vh 10vw;
        z-index: 99;
    }
    .modal-style{
        background-color: #fff;
        padding: 5vh 8vh;
        max-width: 100%;
        min-height: 100%;
        border-radius: 10px;
    }
}
/*   
.backdrop > div{
    background-color: #fff !important;
    border-radius: 5px;
    max-width: 500px;
    min-height: 300px;
    margin: 0 auto;
    padding: 30px;
    z-index: 1000;
} */