.showSection{
    z-index: -1;
}

.column{
    background-color: #fff;
    z-index: 10;
}
.rotateLF{
    animation: rotateL .5s alternate;
    animation-fill-mode: forwards;
}
.rotateLB{
    animation: rotateLBack .5s alternate;
    animation-fill-mode: forwards;
}

.rotateRF{
    animation: rotateR .5s alternate;
    animation-fill-mode: forwards;
}
.rotateRB{
    animation: rotateRBack .5s alternate;
    animation-fill-mode: forwards;
}

@keyframes rotateL {
    0% {
      transform: rotate(0deg) translateX(0px) translateY(0px);
      opacity: 1;
    }
    100% {
      transform: rotate(-90deg) translateX(-500px) translateY(-500px);
      opacity: 0;
    }
  }
  
  @keyframes rotateLBack {
    0% {
        transform: rotate(-90deg) translateX(-500px) translateY(-500px);
        opacity: 0;
    }
    100% {
        transform: rotate(0deg) translateX(0px) translateY(0px);
        opacity: 1;
    }
  }

  @keyframes rotateR {
    0% {
        transform: rotate(0deg) translateX(0px) translateY(0px);
        opacity: 1;
      }
      100% {
        transform: rotate(90deg) translateX(500px) translateY(500px);
        opacity: 0;
      }
  }
  
  @keyframes rotateRBack {
    0% {
        transform: rotate(0deg) translateX(0px) translateY(0px);
        opacity: 1;
    }
    100% {
        transform: rotate(-90deg) translateX(-500px) translateY(-500px);
        opacity: 0;
    }
  }