.ModalInner h3 {
    text-align: center;
    margin-top: 20px;
}

.ModalInner span {
    display: block;
    text-align: center;
}

.firebaseui-idp-button {
    display: flex !important;
    margin: 30px auto !important;
}