:root{
    --dyuthi-color:#a90c35;
    --dyuthi-color-dark:#fff;
    --color-dark: #333333;
    --color-text-dark: #e9e9e9;
    --color-light: #ffffff;
    --color-text-light: #333333;
    --color-shadow-light: #504e4e;
    --color-disabled-light: rgb(231, 231, 231);
    --color-disabled-light1: rgba(231, 231, 231, 0.521);
    --color-active-tab: #a90c3554;
}