.logo{
    display: block;
    margin: 8vh auto 0;
}

.logo-default{
    width: auto;
    height: auto;
}

.logo-large{
    height: 40vh;
}

.logo-medium{
    height: 20vh;
}

.logo-small{
    height: 10vh;
}